#!/bin/sh

{{ with self.Parent -}}
docker ps -q | \
  xargs docker inspect \
  | jq -r '.[] | select(.Config.Labels["io.rancher.container.uuid"] == "{{ .Labels.GetValue "io.rancher.container.uuid" }}") | .Id' \
  | xargs docker kill -s HUP
{{ end -}}
